---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Don't ask to ask">
  <div class="max-w-3xl mx-auto px-4 pb-12 w-full">
    <div class="h-full mt-16">
      <h1 class="text-4xl font-bold font-title">Don't ask to ask</h1>
      <h2 class="text-xl font-semibold font-title text-gray-500">
        please don't wait to ask. just ask.
      </h2>
    </div>
  </div>
</Layout>
